---
import ShapeOval from '#assets/shapes/oval.svg';
import ShapeRectangle from '#assets/shapes/rectangle.svg';
import type { MiniBio } from '../mini-bio.model';
import ContactButtons from '#components/contact-buttons.astro';

interface Props {
  content: MiniBio;
}

const { content } = Astro.props;
---

<section
  class="bg-primary-50 dark:bg-primary-100 relative hidden overflow-clip rounded-2xl p-6 lg:block"
  aria-labelledby="about-me-aside-heading"
>
  <div class="relative z-10 flex flex-col items-center justify-center gap-6">
    <h2 class="font-geist w-full font-bold" id="about-me-aside-heading">{content.title}</h2>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 text-center">
    <div class="h-24 w-24">
      <img
        alt={content.imageAlt}
        class="block h-full w-full rounded-full object-cover"
        height="80"
        src={content.image.url}
        width="80"
      />
    </div>

    <span class="text-tbase-500/90 font-bold">{content.name}</span>
    <span class="text-primary-500 font-semibold">{content.role}</span>
    <p class="text-sm">
      {content.description}
    </p>
    <ContactButtons />
  </div>

  <!-- Decorative shapes -->
  <div class="text-primary-500/25 absolute top-[-48%] left-[-30%] h-[243px] w-[420px]" aria-hidden="true">
    <ShapeRectangle />
  </div>
  <div class="text-primary-500/25 absolute top-[91.5%] left-[-8%] h-[243px] w-[420px] overflow-clip" aria-hidden="true">
    <ShapeOval />
  </div>
</section>
