---
import "../styles/global.css";
import type { Identity } from "./about.model.ts";
import Navigation from "../components/navigation.astro";

const pageTitle = "Acerca de dinámico";

const identity: Identity = {
  firstName: "Paquillo",
  country: "Argentina",
  occupation: "Programador",
  hobbies: ["fotografía", "beber cerveza", "futbol"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <Navigation />

    <h1>{pageTitle}</h1>
    <h2>Y mi nuevo blog</h2>

    <p>Esta es la página de "acerca de".</p>

    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>vivo en {identity.country} y trabajo com {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis hobbies son: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Mis skills</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>Estoy mu contento !</p>}

    {finished && <p>He completado este tutorial</p>}

    {
      goal === 3 ? (
        <p>Mi meta es completarlo en 3 días.</p>
      ) : (
        <p>Pues no llevo tres días.</p>
      )
    }
  </body>
</html>
