---
import { getExperience } from './experience-collection.api';
const experienceContent = await getExperience();
---

<section class="flex flex-1 flex-col gap-10 px-6" aria-labelledby="experience-section-heading">
  <h2 class="text-tbase-500/90 text-3xl font-bold" id="experience-section-heading">{experienceContent.title}</h2>
  <ul>
    <div class="pl-4">
      {
        experienceContent.experienceCollection.map(experience => (
          <div class="relative flex items-baseline gap-4 before:absolute before:top-5 before:left-[5px] before:z-[-1] before:h-full before:w-0.5 before:bg-gray-300 last:before:hidden">
            <div class="flex flex-col">
              <div class="bg-primary-700 dark:border-primary-50 dark:shadow-primary-50 h-3 w-3 rounded-full shadow-[0_0_0_4px] shadow-white dark:shadow-[0_0_0_5px]" />
            </div>
            <article class="pb-10">
              <h3 class="text-primary-700 text-lg font-bold">
                {experience.company} – {experience.role}
              </h3>
              <span class="text-tbase-500/90 mb-2 block text-sm font-semibold">{experience.period}</span>
              <p>{experience.description}</p>
            </article>
          </div>
        ))
      }
    </div>
  </ul>
</section>
